#splash-page {
  background-color: white;
}
#logo {
  background: url('../img/ionic.png') no-repeat transparent;
  width: 128px;
  height: 128px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -64px 0px 0px -64px;
}
/* patch */
.hero-list .item-thumbnail-left > img:first-child,
.hero-list .item-thumbnail-left > .item-image {
  max-width: 128px;
  max-height: 72px;
}
.hero-list .item-thumbnail-left {
  padding-left: 146px;
  min-height: 92px;
}
.hero-list .item-thumbnail-left p {
  margin: 0;
}
.item-list .item-thumbnail-left > img:first-child,
.item-list .item-thumbnail-left > .item-image {
  max-width: 80px;
  max-height: 60px;
}
.item-list .item-thumbnail-left {
  padding: 10px;
  padding-left: 102px;
  min-height: 84px;
}
.item-list .item-thumbnail-left p {
  margin: 0;
}
.copyright {
  float: none;
  border-radius: 0px;
}
/* hero */
.hero-list .subtitle {
  font-size: 0.8em;
  color: #8697aa;
}
.hero-list .hero-type {
  padding: 0 2px;
  font-size: 0.9em;
  color: #145dd7;
  letter-spacing: -1px;
}
.hero-list .hero-type:first-child {
  padding-left: 0;
}
.hero-list .hero-str {
  background: url('../data/images/heropedia/overviewicon_str.png') no-repeat 10px 60%;
  background-size: 25px;
  padding-left: 2.5em;
}
.hero-list .hero-agi {
  background: url('../data/images/heropedia/overviewicon_agi.png') no-repeat 10px 60%;
  background-size: 25px;
  padding-left: 2.5em;
}
.hero-list .hero-int {
  background: url('../data/images/heropedia/overviewicon_int.png') no-repeat 10px 60%;
  background-size: 25px;
  padding-left: 2.5em;
}
.hero-stat span {
  padding-right: 0.2em;
  font-size: 0.9em;
  letter-spacing: -1px;
}
.hero-stat .hero-stat-str {
  background: url('../data/images/heropedia/overviewicon_str.png') no-repeat 0px 50%;
  background-size: 15px;
  padding-left: 1.5em;
  color: #a85141;
}
.hero-stat .hero-stat-agi {
  background: url('../data/images/heropedia/overviewicon_agi.png') no-repeat 0px 50%;
  background-size: 15px;
  padding-left: 1.5em;
  color: #49a840;
}
.hero-stat .hero-stat-int {
  background: url('../data/images/heropedia/overviewicon_int.png') no-repeat 0px 50%;
  background-size: 15px;
  padding-left: 1.5em;
  color: #429dc4;
}
.hero-stat .hero-stat-attack {
  background: url('../data/images/heropedia/overviewicon_attack.png') no-repeat 0% 50%;
  background-size: 16px;
  padding-left: 1.5em;
  color: #cc2511;
}
.hero-stat .hero-stat-speed {
  background: url('../data/images/heropedia/overviewicon_speed.png') no-repeat 0% 50%;
  background-size: 20px;
  padding-left: 1.6em;
  color: #478f24;
}
.hero-stat .hero-stat-armor {
  background: url('../data/images/heropedia/overviewicon_defense.png') no-repeat 0% 50%;
  background-size: 12px;
  padding-left: 1.1em;
  color: #d39511;
}
.hero-stat .hero-stat-range {
  background: url('../data/images/heropedia/meanicons_55-32.png') no-repeat 0% 50%;
  background-size: 14px;
  padding-left: 1.3em;
  color: #187c93;
}
.hero-stat .hero-stat-sight {
  background: url('../data/images/heropedia/view_eye_sight-32.png') no-repeat 0% 50%;
  background-size: 12px;
  padding-left: 1.1em;
  color: #187c93;
}
.item-list .subtitle {
  font-size: 0.8em;
  color: #8697aa;
}
.item-list .item-type {
  padding: 0 2px;
  font-size: 0.9em;
  color: #145dd7;
  letter-spacing: -1px;
}
.item-list .item-type:first-child {
  padding-left: 0;
}
.item-list .item-consumable {
  background: url('../data/images/heropedia/itemcat_consumables.png') no-repeat 10px 60%;
  background-size: 25px;
  padding-left: 2.5em;
}
.item-list .item-attribute {
  background: url('../data/images/heropedia/itemcat_attributes.png') no-repeat 10px 60%;
  background-size: 25px;
  padding-left: 2.5em;
}
.item-list .item-armament {
  background: url('../data/images/heropedia/itemcat_armaments.png') no-repeat 10px 60%;
  background-size: 25px;
  padding-left: 2.5em;
}
.item-list .item-secret {
  background: url('../data/images/heropedia/itemcat_secret.png') no-repeat 10px 60%;
  background-size: 25px;
  padding-left: 2.5em;
}
.item-list .item-arcane {
  background: url('../data/images/heropedia/itemcat_arcane.png') no-repeat 10px 60%;
  background-size: 25px;
  padding-left: 2.5em;
}
.item-list .item-common {
  background: url('../data/images/heropedia/itemcat_common.png') no-repeat 10px 60%;
  background-size: 25px;
  padding-left: 2.5em;
}
.item-list .item-support {
  background: url('../data/images/heropedia/itemcat_support.png') no-repeat 10px 60%;
  background-size: 25px;
  padding-left: 2.5em;
}
.item-list .item-caster {
  background: url('../data/images/heropedia/itemcat_caster.png') no-repeat 10px 60%;
  background-size: 25px;
  padding-left: 2.5em;
}
.item-list .item-weapon {
  background: url('../data/images/heropedia/itemcat_weapons.png') no-repeat 10px 60%;
  background-size: 25px;
  padding-left: 2.5em;
}
.item-list .item-armor {
  background: url('../data/images/heropedia/itemcat_armor.png') no-repeat 10px 60%;
  background-size: 25px;
  padding-left: 2.5em;
}
.item-list .item-artifact {
  background: url('../data/images/heropedia/itemcat_artifacts.png') no-repeat 10px 60%;
  background-size: 25px;
  padding-left: 2.5em;
}
.item-list .item-roshan {
  background: url('../data/images/heropedia/itemcat_artifacts.png') no-repeat 10px 60%;
  background-size: 25px;
  padding-left: 2.5em;
}
.item-list .item-rune {
  background: url('../data/images/heropedia/itemcat_common.png') no-repeat 10px 60%;
  background-size: 25px;
  padding-left: 2.5em;
}
.item-stat span {
  padding-right: 0.2em;
  font-size: 0.9em;
  letter-spacing: -1px;
}
.item-stat .item-price {
  background: url('../data/images/heropedia/gold.png') no-repeat 0px 50%;
  background-size: 15px;
  padding-left: 1.5em;
  color: #a85141;
}
.item-stat .item-cooldown {
  background: url('../data/images/heropedia/cooldown.png') no-repeat 0px 50%;
  background-size: 12px;
  margin-left: 0.5em;
  padding-left: 1.5em;
  color: #478f24;
}
.item-stat .item-additional {
  padding-left: 0.5em;
  color: #187c93;
}
