#splash-page {
  background-color: white;
}
#logo {
  background: url('../img/ionic.png') no-repeat transparent;
  width: 128px;
  height: 128px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -64px 0px 0px -64px;
}

/* patch */
.hero-list {
  .item-thumbnail-left > img:first-child, .item-thumbnail-left > .item-image {
    max-width: 128px;
    max-height: 72px;
  }
  .item-thumbnail-left {
    padding-left: 146px;
    min-height: 92px;
  }
  .item-thumbnail-left p {
    margin: 0;
  }
}

.item-list {
  .item-thumbnail-left > img:first-child, .item-thumbnail-left > .item-image {
    max-width: 80px;
    max-height: 60px;
  }
  .item-thumbnail-left {
    padding: 10px;
    padding-left: 102px;
    min-height: 84px;
  }
  .item-thumbnail-left p {
    margin: 0;
  }
}

.copyright {
  float: none;
  border-radius: 0px;
}

/* hero */
.hero-list {
  .subtitle {
    font-size: 0.8em;
    color: #8697aa;
  }
  .hero-type {
    padding: 0 2px;
    font-size: 0.9em;
    color: #145dd7;
    letter-spacing: -1px;
  }
  .hero-type:first-child {
    padding-left: 0;
  }

  .hero-str {
    background: url('../data/images/heropedia/overviewicon_str.png') no-repeat 10px 60%;
    background-size: 25px;
    padding-left: 2.5em;
  }
  .hero-agi {
    background: url('../data/images/heropedia/overviewicon_agi.png') no-repeat 10px 60%;
    background-size: 25px;
    padding-left: 2.5em;
  }
  .hero-int {
    background: url('../data/images/heropedia/overviewicon_int.png') no-repeat 10px 60%;
    background-size: 25px;
    padding-left: 2.5em;
  }
}

.hero-stat {
  span {
    padding-right: 0.2em;
    font-size: 0.9em;
    letter-spacing: -1px;
  }
  .hero-stat-str {
    background: url('../data/images/heropedia/overviewicon_str.png') no-repeat 0px 50%;
    background-size: 15px;
    padding-left: 1.5em;
    color: #a85141;
  }
  .hero-stat-agi {
    background: url('../data/images/heropedia/overviewicon_agi.png') no-repeat 0px 50%;
    background-size: 15px;
    padding-left: 1.5em;
    color: #49a840;
  }
  .hero-stat-int {
    background: url('../data/images/heropedia/overviewicon_int.png') no-repeat 0px 50%;
    background-size: 15px;
    padding-left: 1.5em;
    color: #429dc4;
  }
  .hero-stat-attack {
    background: url('../data/images/heropedia/overviewicon_attack.png') no-repeat 0% 50%;
    background-size: 16px;
    padding-left: 1.5em;
    color: #cc2511;
  }
  .hero-stat-speed {
    background: url('../data/images/heropedia/overviewicon_speed.png') no-repeat 0% 50%;
    background-size: 20px;
    padding-left: 1.6em;
    color: #478f24;
  }
  .hero-stat-armor {
    background: url('../data/images/heropedia/overviewicon_defense.png') no-repeat 0% 50%;
    background-size: 12px;
    padding-left: 1.1em;
    color: #d39511;
  }
  .hero-stat-range {
    background: url('../data/images/heropedia/meanicons_55-32.png') no-repeat 0% 50%;
    background-size: 14px;
    padding-left: 1.3em;
    color: #187c93;
  }
  .hero-stat-sight {
    background: url('../data/images/heropedia/view_eye_sight-32.png') no-repeat 0% 50%;
    background-size: 12px;
    padding-left: 1.1em;
    color: #187c93;
  }
}

.item-list {
  .subtitle {
    font-size: 0.8em;
    color: #8697aa;
  }
  .item-type {
    padding: 0 2px;
    font-size: 0.9em;
    color: #145dd7;
    letter-spacing: -1px;
  }
  .item-type:first-child {
    padding-left: 0;
  }

  .item-consumable {
    background: url('../data/images/heropedia/itemcat_consumables.png') no-repeat 10px 60%;
    background-size: 25px;
    padding-left: 2.5em;
  }
  .item-attribute {
    background: url('../data/images/heropedia/itemcat_attributes.png') no-repeat 10px 60%;
    background-size: 25px;
    padding-left: 2.5em;
  }
  .item-armament {
    background: url('../data/images/heropedia/itemcat_armaments.png') no-repeat 10px 60%;
    background-size: 25px;
    padding-left: 2.5em;
  }
  .item-secret {
    background: url('../data/images/heropedia/itemcat_secret.png') no-repeat 10px 60%;
    background-size: 25px;
    padding-left: 2.5em;
  }
  .item-arcane {
    background: url('../data/images/heropedia/itemcat_arcane.png') no-repeat 10px 60%;
    background-size: 25px;
    padding-left: 2.5em;
  }
  .item-common {
    background: url('../data/images/heropedia/itemcat_common.png') no-repeat 10px 60%;
    background-size: 25px;
    padding-left: 2.5em;
  }
  .item-support {
    background: url('../data/images/heropedia/itemcat_support.png') no-repeat 10px 60%;
    background-size: 25px;
    padding-left: 2.5em;
  }
  .item-caster {
    background: url('../data/images/heropedia/itemcat_caster.png') no-repeat 10px 60%;
    background-size: 25px;
    padding-left: 2.5em;
  }
  .item-weapon {
    background: url('../data/images/heropedia/itemcat_weapons.png') no-repeat 10px 60%;
    background-size: 25px;
    padding-left: 2.5em;
  }
  .item-armor {
    background: url('../data/images/heropedia/itemcat_armor.png') no-repeat 10px 60%;
    background-size: 25px;
    padding-left: 2.5em;
  }
  .item-artifact {
    background: url('../data/images/heropedia/itemcat_artifacts.png') no-repeat 10px 60%;
    background-size: 25px;
    padding-left: 2.5em;
  }
  .item-roshan {
    background: url('../data/images/heropedia/itemcat_artifacts.png') no-repeat 10px 60%;
    background-size: 25px;
    padding-left: 2.5em;
  }
  .item-rune {
    background: url('../data/images/heropedia/itemcat_common.png') no-repeat 10px 60%;
    background-size: 25px;
    padding-left: 2.5em;
  }
}

.item-stat {
  span {
    padding-right: 0.2em;
    font-size: 0.9em;
    letter-spacing: -1px;
  }
  .item-price {
    background: url('../data/images/heropedia/gold.png') no-repeat 0px 50%;
    background-size: 15px;
    padding-left: 1.5em;
    color: #a85141;
  }
  .item-cooldown {
    background: url('../data/images/heropedia/cooldown.png') no-repeat 0px 50%;
    background-size: 12px;
    margin-left: 0.5em;
    padding-left: 1.5em;
    color: #478f24;
  }
  .item-additional {
    padding-left: 0.5em;
    color: #187c93;
  }
}


.view-content {
  padding: 1em 1.2em;
  text-align: justify;

  .data-box {
    clear: both;
    border: 1px solid #c0c0c0;
    margin: 8px auto;
    padding: 4px 0;
  }
  dl {
    margin: 0;
    padding: 0;
  }
  dt {
    float: left;
    clear: left;
    width: 6em;
    text-align: right;
    font-weight: bold;
    color: #126b0c;
    padding: 0;
  }
  dd {
    margin: 4px 0 4px 7em;
    padding: 0;
  }
  .span1 {
    dt {
      width: 9em;
    }
    dd {
      margin-left: 10em;
    }
  }
  .span2 {
    dt {
      width: 12em;
    }
    dd {
      margin-left: 13em;
    }
  }
  .span3 {
    dt {
      width: 15em;
    }
    dd {
      margin-left: 16em;
    }
  }
  ul {
    border: 1px solid #c0c0c0;
    padding: 8px 16px;
    margin: 16px auto;
  }
  li {
    color: #666;
    font-size: 16px;
    list-style: circle;
    padding: 2px 0;
    margin-left: 1em;
  }
  p {
    font-size: 16px;
    line-height: 1.4;
    padding: 0 0 4px 0;
    margin-bottom: 2px;
  }
  img {
    float: left;
    padding: 4px 0;
    margin: 0 12px 4px 0;
  }
  .story {
    color: #444444;
  }
  .gold {
    padding-left: 2em;
    background: url('../data/images/heropedia/gold.png') no-repeat;
  }
  .desc {
    background: url('../data/images/heropedia/icon_button_search.png') no-repeat;
    padding-left: 1.2em;
    margin-left: 0.5em;
    color: #145dd7;
  }
  .more {
    margin-bottom: 12px;
    border-bottom: 1px solid #c0c0c0;
  }
  .ability:before {
    color: #999999;
    content: "사용 구분 : ";
  }
  .affect:before {
    color: #999999;
    content: "적용 대상 : ";
  }
  .type:before {
    color: #999999;
    content: "적용 효과 : ";
  }
  .recipe {
    clear: both;
    a {
      float: left;
      margin-right: 1em;
      text-decoration: none;
      font-style: normal;
      color: #444444;
      vertical-align: bottom;
      margin-bottom: 1em;
    }
    img {
      padding: 0;
      margin: 0;
    }
    .multi {
      vertical-align: bottom;
      text-decoration: none;
      font-style: normal;
      padding-left: 0.5em;
    }
    .multi:before {
      content: " X ";
    }
  }
}