body {
  transition: background-image 1s ease-in-out;
  background: #999999 no-repeat fixed center center;
  background-size: cover;
}
.forms-inline-list {
  margin-bottom: 0.5em;
}
.nav-stats .badge {
  top: 20px;
}
.hide {
  display: none !important;
}
.debug1 {
  border: 4px solid red;
}
.debug2 {
  border: 4px solid blue;
}
.main-panel::-webkit-scrollbar {
  display: none;
}
.main-panel {
  overflow-y: scroll;
  padding: 1em;
}
.item {
  background: rgba(219, 228, 240, 0.6);
}
.item h1 {
  text-shadow: 1px 1px 0 #404040;
}
.item h1 small {
  background-color: #335d99;
  text-shadow: 0 0 0;
  font-weight: normal;
}
.hero {
  background: rgba(219, 240, 223, 0.6);
}
.hero h1 {
  text-shadow: 1px 1px 0 #404040;
}
.hero h1 small {
  background-color: #267333;
  text-shadow: 0 0 0;
  font-weight: normal;
}
.article {
  background: rgba(240, 219, 221, 0.6);
}
.article h1 {
  text-shadow: 1px 1px 0 #404040;
}
.article h1 small {
  background-color: #73262e;
  text-shadow: 0 0 0;
  font-weight: normal;
}
.selector button.btn-smaller {
  padding-left: 1.2em;
  padding-right: 1.2em;
  margin: 0 2px;
}
.order li.label {
  margin-right: 0.8em;
}
.choice li.label {
  margin-right: 0.8em;
}
.instant-search {
  margin-bottom: 0.6em;
}
.item-list ul,
.hero-list ul,
.article-list ul {
  list-style: none;
  margin: 0;
}
.item-list img,
.hero-list img,
.article-list img {
  height: 32px;
}
.item-list li,
.hero-list li,
.article-list li {
  position: relative;
  padding: 0.4em 0;
  border-bottom: 1px solid rgba(16, 16, 16, 0.1);
}
.item-list li.active .title,
.hero-list li.active .title,
.article-list li.active .title {
  text-decoration: underline;
}
.item-list .title,
.hero-list .title,
.article-list .title {
  font-size: 1.1em;
  margin: 5px;
  cursor: pointer;
}
.item-list .subtitle,
.hero-list .subtitle,
.article-list .subtitle {
  background: rgba(64, 64, 64, 0.5);
  color: rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  padding: 3px 5px 3px 5px;
  display: inline-block;
  line-height: 1;
  border-radius: 2px;
}
.item-list .badge,
.hero-list .badge,
.article-list .badge {
  top: 20px;
  margin-top: -8px;
  position: absolute;
  right: 0;
}
.badge-custom-item {
  color: #ffffff;
  background-color: #4d77b3;
  border-color: #2e476b;
}
.badge-custom-hero {
  color: #ffffff;
  background-color: #4db35e;
  border-color: #2e6b38;
}
.badge-custom-article {
  color: #ffffff;
  background-color: #b34d57;
  border-color: #6b2e34;
}
.badge-custom-consume {
  color: #ffffff;
  background-color: #535152;
}
.badge-custom-attribute {
  color: #000000;
  background-color: #efefef;
}
.badge-custom-armament {
  color: #000000;
  background-color: #b8beb8;
}
.badge-custom-arcane {
  color: #000000;
  background-color: #8f918f;
}
.badge-custom-common {
  color: #ffffff;
  background-color: #55831c;
}
.badge-custom-support {
  color: #000000;
  background-color: #1694f4;
}
.badge-custom-caster {
  color: #ffffff;
  background-color: #0d69ac;
}
.badge-custom-weapon {
  color: #000000;
  background-color: #b032df;
}
.badge-custom-armor {
  color: #ffffff;
  background-color: #731877;
}
.badge-custom-artifact {
  color: #000000;
  background-color: #c97528;
}
.badge-custom-secret {
  color: #ffffff;
  background-color: #8c3705;
}
.badge-custom-rune {
  color: #ffffff;
  background-color: #937644;
}
.detail-data {
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #f2f2f2;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #e2e2e2;
  margin: 0.5em 0;
  position: relative;
  background: rgba(219, 228, 240, 0.6);
  color: #0f0f0f;
}
.detail-data .deco:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #eeeeee;
  border-width: 7px;
  left: 14px;
}
.detail-data .data-cost {
  float: right;
  margin-top: 2px;
}
.detail-data span {
  color: #0f0f0f;
}
.detail-data p.info {
  margin: 0.5em;
  line-height: 1.4;
}
.detail-data .data-table {
  clear: both;
  border: 1px solid #4075bf;
  margin: 8px auto;
  padding: 4px 0;
}
.detail-data .data-table dl {
  margin: 0;
  padding: 0;
}
.detail-data .data-table dl dt {
  float: left;
  clear: left;
  width: 50%;
  text-align: right;
  font-size: 0.9em;
  font-weight: bold;
  white-space: nowrap;
  color: #364963;
  padding: 0;
}
.detail-data .data-table dl dd {
  margin-left: 55%;
  padding: 0;
}
.detail-data .data-note ul {
  padding: 0;
  margin: 14px auto;
}
.detail-data .data-note li {
  color: #484848;
  border: 0;
  list-style: circle;
  padding: 2px 0;
  margin-left: 1.5em;
  line-height: 1.4;
}
.detail-data .data-more {
  padding: 1px 2px;
  margin: 1px;
}
.detail-data .data-more .ability::before {
  content: "사용 : ";
  color: #666;
  font-size: 0.8em;
}
.detail-data .data-more .ability {
  content: 'prefix';
  margin: 0;
}
.detail-data .data-more .affect::before {
  content: "대상 : ";
  color: #666;
  font-size: 0.8em;
}
.detail-data .data-more .affect {
  margin: 0;
}
.detail-data .data-more .type::before {
  content: "종류 : ";
  color: #666;
  font-size: 0.8em;
}
.detail-data .data-more .type {
  margin: 0;
}
.detail-data .data-recipe:after {
  content: "";
  display: table;
  clear: both;
}
.detail-data .data-recipe ul {
  border: 1px solid #c0c0c0;
  padding: 8px 16px;
  margin: 16px auto;
}
.detail-data .data-recipe li:first-child::before {
  content: "하위 : ";
  font-size: 0.8em;
}
.detail-data .data-recipe li {
  color: #666;
  border: 0;
  list-style: none;
  padding: 1px 2px;
  margin: 1px;
  float: left;
}
.detail-data .data-recipe li img {
  height: 1.5em;
}
.detail-data .data-upgrade:after {
  content: "";
  display: table;
  clear: both;
}
.detail-data .data-upgrade ul {
  border: 1px solid #c0c0c0;
  padding: 8px 16px;
  margin: 16px auto;
}
.detail-data .data-upgrade li:first-child::before {
  content: "상위 : ";
  font-size: 0.8em;
}
.detail-data .data-upgrade li {
  color: #666;
  border: 0;
  list-style: none;
  padding: 1px 2px;
  margin: 1px;
  float: left;
}
.detail-data .data-upgrade li img {
  height: 1.5em;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .item-list .subtitle,
  .hero-list .subtitle,
  .article-list .subtitle {
    display: none;
  }
  .selector {
    display: none;
  }
  .data-table dt {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .selector {
    float: right;
  }
  .main-panel {
    margin-bottom: 0 !important;
  }
  #item_panel {
    display: none;
  }
  #hero_panel {
    display: none;
  }
  #article_panel {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .main-panel {
    width: 33.333% !important;
  }
}
