.items {
  padding: 1em;
  background: #d3e3fb;
}
.heroes {
  padding: 1em;
  background: #d5ecd9;
}
.articles {
  padding: 1em;
  background: #f8d5d8;
}
.list img {
  height: 32px;
}
.list li {
  margin: 2px;
}
.hide {
  display: none !important;
}
.list .subtitle {
  background: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.85);
  white-space: nowrap;
  padding: 3px 5px 3px 5px;
  display: inline-block;
  line-height: 1;
  border-radius: 2px;
}
.selector button.btn-smaller {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
@media (max-width: 1000px) {
  .list .subtitle {
    display: none;
  }
}
