@import "../components/kube/less/mixins.less";
@import "../components/kube/less/variables.less";

.items {
  padding: 1em;
  background: @color-blue-pastel
}

.heroes {
  padding: 1em;
  background: @color-green-pastel;
}

.articles {
  padding: 1em;
  background: @color-red-pastel;
}

.list {
  img {
    height: 32px;
  }
  li {
    margin: 2px;
  }
}

.hide {
  display: none !important;
}

.list {
  .subtitle {
    background: rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.85);
    white-space: nowrap;
    padding: 3px 5px 3px 5px;
    display: inline-block;
    line-height: 1;
    border-radius: 2px;
  }
}

.selector {
  button.btn-smaller {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: 0 2px;
  }
}

@media (max-width: 1000px) {
  .list {
    .subtitle {
      display: none;
    }
  }
}