@import "../components/kube/less/mixins.less";
@import "../components/kube/less/variables.less";

form {
  margin-bottom: 0;
}

.items, .heroes {
  padding: 1em;
  background: @color-blue-pastel;
  .forms-inline-list {
    margin-bottom: 0.4em;
  }
}

.heroes {
  padding: 1em;
  background: @color-green-pastel;
}

.articles {
  padding: 1em;
  background: @color-red-pastel;
}

.item-list, .hero-list {
  img {
    height: 32px;
  }
  li {
    padding: 0.3em 0;
  }
  .item-name, .hero-name {
    margin: 5px;
  }
  .subtitle {
    background: rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.85);
    white-space: nowrap;
    padding: 3px 5px 3px 5px;
    display: inline-block;
    line-height: 1;
    border-radius: 2px;
  }
}

.hide {
  display: none !important;
}

.selector {
  button.btn-smaller {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: 0 2px;
  }
}

.order {
  li.label {
    margin-right: 0.8em;
  }
}

.choice {
  li.label {
    margin-right: 0.8em;
  }
}

@media (max-width: 1000px) {
  .item-list, .hero-list {
    .subtitle {
      display: none;
    }
  }
}