body {
  background: no-repeat center center fixed;
  background-size: cover;
}
form {
  margin-bottom: 0;
}
.nav-stats .badge {
  top: 20px;
}
.main-panel {
  padding: 1em;
}
.main-panel .forms-inline-list {
  margin-bottom: 0.5em;
}
.item {
  background: rgba(219, 228, 240, 0.6);
}
.item h1 {
  text-shadow: 1px 1px 0 #404040;
}
.item h1 small {
  background-color: #335d99;
  text-shadow: 0 0 0;
  font-weight: normal;
}
.hero {
  background: rgba(219, 240, 223, 0.6);
}
.hero h1 {
  text-shadow: 1px 1px 0 #404040;
}
.hero h1 small {
  background-color: #267333;
  text-shadow: 0 0 0;
  font-weight: normal;
}
.article {
  background: rgba(240, 219, 221, 0.6);
}
.article h1 {
  text-shadow: 1px 1px 0 #404040;
}
.article h1 small {
  background-color: #73262e;
  text-shadow: 0 0 0;
  font-weight: normal;
}
.item-list img,
.hero-list img,
.article-list img {
  height: 32px;
}
.item-list li,
.hero-list li,
.article-list li {
  padding: 0.4em 0;
  border-bottom: 1px solid rgba(16, 16, 16, 0.1);
}
.item-list li.active .title,
.hero-list li.active .title,
.article-list li.active .title {
  text-decoration: underline;
}
.item-list .title,
.hero-list .title,
.article-list .title {
  font-size: 1.1em;
  margin: 5px;
  cursor: pointer;
}
.item-list .subtitle,
.hero-list .subtitle,
.article-list .subtitle {
  background: rgba(64, 64, 64, 0.5);
  color: rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  padding: 3px 5px 3px 5px;
  display: inline-block;
  line-height: 1;
  border-radius: 2px;
}
.instant-search {
  margin-bottom: 0.6em;
}
.detail-data {
  color: #0f0f0f;
  margin: 0.5em 0;
}
.detail-data span {
  color: #0f0f0f;
}
.selector button.btn-smaller {
  padding-left: 1.2em;
  padding-right: 1.2em;
  margin: 0 2px;
}
.order li.label {
  margin-right: 0.8em;
}
.choice li.label {
  margin-right: 0.8em;
}
.badge-custom-item {
  color: #ffffff;
  background-color: #4d77b3;
  border-color: #2e476b;
}
.badge-custom-hero {
  color: #ffffff;
  background-color: #4db35e;
  border-color: #2e6b38;
}
.badge-custom-article {
  color: #ffffff;
  background-color: #b34d57;
  border-color: #6b2e34;
}
.badge-custom-consume {
  color: #ffffff;
  background-color: #535152;
}
.badge-custom-attribute {
  color: #000000;
  background-color: #efefef;
}
.badge-custom-armament {
  color: #000000;
  background-color: #b8beb8;
}
.badge-custom-arcane {
  color: #000000;
  background-color: #8f918f;
}
.badge-custom-common {
  color: #ffffff;
  background-color: #55831c;
}
.badge-custom-support {
  color: #000000;
  background-color: #1694f4;
}
.badge-custom-caster {
  color: #ffffff;
  background-color: #0d69ac;
}
.badge-custom-weapon {
  color: #000000;
  background-color: #b032df;
}
.badge-custom-armor {
  color: #ffffff;
  background-color: #731877;
}
.badge-custom-artifact {
  color: #000000;
  background-color: #c97528;
}
.badge-custom-secret {
  color: #ffffff;
  background-color: #8c3705;
}
.badge-custom-rune {
  color: #ffffff;
  background-color: #937644;
}
.hide {
  display: none !important;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .item-list .subtitle,
  .hero-list .subtitle,
  .article-list .subtitle {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .selector {
    float: right;
  }
  .main-panel {
    margin-bottom: 0 !important;
  }
  #item_panel {
    display: none;
  }
  #hero_panel {
    display: none;
  }
  #article_panel {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .main-panel {
    overflow-y: scroll;
  }
  .main-panel::-webkit-scrollbar {
    display: none;
  }
}
.debug1 {
  border: 4px solid red;
}
.debug2 {
  border: 4px solid blue;
}
