<side-menus>
    <pane side-menu-content>
        <div class="bar bar-header bar-energized">
            <button class="button icon ion-search" ng-click="openLeft()"></button>
            <h1 class="title">영웅 Hero</h1>
            <button class="button icon ion-navicon-round" ng-click="openRight()"></button>
        </div>
        <content has-header="true">
            <div class="list hero-list">
                <div class="item item-divider hero-str">
                    힘 영웅(Strength)
                </div>
                <a ng-repeat="hero in heroes_strength | filter:heroTypeQuery | filter:searchFilter.keyword" class="item item-thumbnail-left"
                   bo-href="'#/hero/' + hero.id" bindonce="hero">
                    <img bo-src="hero.pic"> <!--256*144 128*72-->
                    <h2 bo-html="hero.title + ' <span class=\'subtitle\'>' + hero.subtitle + '</span>'"></h2>
                    <p class="hero-stat">
                        <span class="hero-stat-str" bo-text="hero.stat_str"></span>
                        <span class="hero-stat-agi" bo-text="hero.stat_agi"></span>
                        <span class="hero-stat-int" bo-text="hero.stat_int"></span>
                    </p>
                    <p class="hero-stat">
                        <span class="hero-stat-attack" bo-text="hero.attack"></span>
                        <span class="hero-stat-speed" bo-text="hero.speed"></span>
                        <span class="hero-stat-armor" bo-text="hero.armor"></span>
                        <span class="hero-stat-range" bo-text="hero.range"></span>
                        <span class="hero-stat-sight" bo-text="hero.sight"></span>
                    </p>
                </a>
                <div class="item item-divider hero-agi">
                    민첩 영웅(Agility)
                </div>
                <a ng-repeat="hero in heroes_agility | filter:heroTypeQuery | filter:searchFilter.keyword" class="item item-thumbnail-left"
                   bo-href="'#/hero/' + hero.id" bindonce="hero">
                    <img bo-src="hero.pic"> <!--256*144 128*72-->
                    <h2 bo-html="hero.title + ' <span class=\'subtitle\'>' + hero.subtitle + '</span>'"></h2>
                    <p class="hero-stat">
                        <span class="hero-stat-str" bo-text="hero.stat_str"></span>
                        <span class="hero-stat-agi" bo-text="hero.stat_agi"></span>
                        <span class="hero-stat-int" bo-text="hero.stat_int"></span>
                    </p>
                    <p class="hero-stat">
                        <span class="hero-stat-attack" bo-text="hero.attack"></span>
                        <span class="hero-stat-speed" bo-text="hero.speed"></span>
                        <span class="hero-stat-armor" bo-text="hero.armor"></span>
                        <span class="hero-stat-range" bo-text="hero.range"></span>
                        <span class="hero-stat-sight" bo-text="hero.sight"></span>
                    </p>
                </a>
                <div class="item item-divider hero-int">
                    지능 영웅(Intelligence)
                </div>
                <a ng-repeat="hero in heroes_intelligence | filter:heroTypeQuery | filter:searchFilter.keyword" class="item item-thumbnail-left"
                   bo-href="'#/hero/' + hero.id" bindonce="hero">
                    <img bo-src="hero.pic"> <!--256*144 128*72-->
                    <h2 bo-html="hero.title + ' <span class=\'subtitle\'>' + hero.subtitle + '</span>'"></h2>
                    <p class="hero-stat">
                        <span class="hero-stat-str" bo-text="hero.stat_str"></span>
                        <span class="hero-stat-agi" bo-text="hero.stat_agi"></span>
                        <span class="hero-stat-int" bo-text="hero.stat_int"></span>
                    </p>
                    <p class="hero-stat">
                        <span class="hero-stat-attack" bo-text="hero.attack"></span>
                        <span class="hero-stat-speed" bo-text="hero.speed"></span>
                        <span class="hero-stat-armor" bo-text="hero.armor"></span>
                        <span class="hero-stat-range" bo-text="hero.range"></span>
                        <span class="hero-stat-sight" bo-text="hero.sight"></span>
                    </p>
                </a>
            </div>
        </content>
    </pane>

    <side-menu side="left">
        <header class="bar bar-header bar-energized">
            <h1 class="title">검색 필터</h1>
        </header>
        <content has-header="true">
            <ul class="list">
                <li class="">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>&nbsp;
                        <input type="text" placeholder="검색어" ng-model="searchFilter.keyword">
                    </label>
                </li>
                <li class="item item-divider">공격 분류</li>
                <checkbox class="item item-checkbox" ng-repeat="type in filters_att_type" ng-model="type.selected">{{type.text}}</checkbox>
                <li class="item item-divider">역할 분류</li>
                <checkbox class="item item-checkbox" ng-repeat="type in filters_role_type" ng-model="type.selected">{{type.text}}</checkbox>
                <li class="item item-divider">스킬 분류</li>
                <checkbox class="item item-checkbox" ng-repeat="type in filters_skill_type" ng-model="type.selected">{{type.text}}</checkbox>
            </ul>
        </content>
    </side-menu>

    <side-menu side="right">
        <header class="bar bar-header bar-energized">
            <h1 class="title" bindonce="app" bo-text="app.appTitle"></h1>
        </header>
        <content has-header="true">
            <ul class="list" bindonce="app">
                <a class="item" ng-repeat="item in app.menu" bo-href="'#' + item.link" bo-text="item.title"></a>
                <li class="item item-divider" bo-text="app.copyright"></li>
            </ul>
        </content>
        <footer class="bar bar-footer bar-energized">
            <div class="title" bindonce="app"><span bo-text="app.appTitle"></span> <span class="copyright badge badge-assertive" bo-text="app.version"></span> 콘텐츠 <span class="copyright badge badge-positive" bo-text="app.compatible"></span></div>
        </footer>
    </side-menu>
</side-menus>