<side-menus>
    <pane side-menu-content bindonce="mechanism">
        <div class="bar bar-header bar-energized">
            <button class="button icon-left ion-chevron-left" ng-click="openLeft()"></button>
            <h1 class="title" bo-text="mechanism.title"></h1>
            <button class="button icon ion-navicon-round" ng-click="openRight()"></button>
        </div>
        <content has-header="true">
            <div class="view-content" bo-html="mechanism.data"></div>

            <div class="google">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 도타2핸드북 -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:320px;height:50px"
                     data-ad-client="ca-pub-1102159590964555"
                     data-ad-slot="2780924992"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </content>
    </pane>

    <side-menu side="right">
        <header class="bar bar-header bar-energized">
            <h1 class="title" bindonce="app" bo-text="app.appTitle"></h1>
        </header>
        <content has-header="true">
            <ul class="list" bindonce="app">
                <a class="item" ng-repeat="item in app.menu" bo-href="'#' + item.link" bo-text="item.title"></a>
                <li class="item item-divider" bo-text="app.copyright"></li>
            </ul>
        </content>
        <footer class="bar bar-footer bar-energized">
            <div class="title" bindonce="app"><span bo-text="app.appTitle"></span> <span class="copyright badge badge-assertive" bo-text="app.version"></span> 콘텐츠 <span class="copyright badge badge-positive" bo-text="app.compatible"></span></div>
        </footer>
    </side-menu>
</side-menus>