<header class="bar bar-header bar-energized">
    <h1 class="title">도타 핸드북</h1>
</header>
<content has-header="true">
    <ul class="list">
        <a class="item" href="#/hero">영웅</a>
        <a class="item" href="#/item">아이템</a>
        <a class="item" href="#/mechanic">메커니즘</a>
        <a class="item" href="#/report">리포트</a>
        <li class="item item-divider">Peonybooks, co. ltd.</li>
        <!--<li class="item ad-line">Specially Thanks to 정인호</li>-->
    </ul>
</content>
<footer class="bar bar-footer bar-energized">
    <div class="title">도타2 핸드북 <span class="copyright badge badge-assertive">{{app.version}}</span> 콘텐츠 <span class="copyright badge badge-positive">{{app.compatible}}</span></div>
</footer>