<side-menus>

    <pane side-menu-content>
        <div class="bar bar-header bar-energized">
            <button class="button icon ion-search" ng-click="openLeft()"></button>
            <h1 class="title">리포트 Report</h1>
            <button class="button icon ion-navicon-round" ng-click="openRight()"></button>
        </div>
        <content has-header="true">
            <div class="list report-list">
                <div class="item item-divider">
                    NSL 시즌 3
                </div>
                <a ng-repeat="report in report_3 | filter:searchFilter.keyword" class="item item-icon-left"
                   bo-href="'#/report/' + report.id" bindonce="report">
                    <i class="icon ion-mic-a"></i>
                    <h2 bo-text="report.title"></h2>
                    <p class="item-stat" bo-text="report.desc"></p>
                </a>
                <div class="item item-divider">
                    NSL 시즌 2
                </div>
                <a ng-repeat="report in report_2 | filter:searchFilter.keyword" class="item item-icon-left"
                   bo-href="'#/report/' + report.id" bindonce="report">
                    <i class="icon ion-mic-a"></i>
                    <h2 bo-text="report.title"></h2>
                    <p class="item-stat" bo-text="report.desc"></p>
                </a>
                <div class="item item-divider">
                    NSL 시즌 1
                </div>
                <a ng-repeat="report in report_1 | filter:searchFilter.keyword" class="item item-icon-left"
                   bo-href="'#/report/' + report.id" bindonce="report">
                    <i class="icon ion-mic-a"></i>
                    <h2 bo-text="report.title"></h2>
                    <p class="item-stat" bo-text="report.desc"></p>
                </a>
            </div>
        </content>
    </pane>

    <side-menu side="left">
        <header class="bar bar-header bar-energized">
            <h1 class="title">검색 필터</h1>
        </header>
        <content has-header="true">
            <ul class="list">
                <li class="">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>&nbsp;
                        <input type="text" placeholder="검색어" ng-model="searchFilter.keyword">
                    </label>
                </li>
            </ul>
        </content>
    </side-menu>

    <side-menu side="right">
        <header class="bar bar-header bar-energized">
            <h1 class="title" bindonce="app" bo-text="app.appTitle"></h1>
        </header>
        <content has-header="true">
            <ul class="list" bindonce="app">
                <a class="item" ng-repeat="item in app.menu" bo-href="'#' + item.link" bo-text="item.title"></a>
                <li class="item item-divider" bo-text="app.copyright"></li>
            </ul>
        </content>
        <footer class="bar bar-footer bar-energized">
            <div class="title" bindonce="app"><span bo-text="app.appTitle"></span> <span class="copyright badge badge-assertive" bo-text="app.version"></span> 콘텐츠 <span class="copyright badge badge-positive" bo-text="app.compatible"></span></div>
        </footer>
    </side-menu>

</side-menus>
